@import "tailwindcss";

.scrollbar-hover {
  scrollbar-width: none;
}

.scrollbar-hover::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-hover::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-hover::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.scrollbar-hover:hover::-webkit-scrollbar-thumb {
  background: rgba(123, 126, 196, 0.5);
}